html{
    overflow: hidden;
    height: 100%;    
}

body {
	margin:0;
	overflow: auto;
    height: 100%;	
}

a:hover {
	text-decoration: none;
}

.logo {
	width: 250px;
	height: 110px;
	display: block;
	background: url("img/logo_white_150px.png") no-repeat center;
}

/**
 * Navigation
 */
.navbar-beaver {
	background-color: #337ab7;
	border-color: #3784c6;
	overflow: auto;
}
.navbar-beaver .navbar-brand {
	color: #ffffff;
}
.navbar-beaver .navbar-brand:hover,
.navbar-beaver .navbar-brand:focus {
	color: #ffffff;
}
.navbar-beaver .navbar-text {
	color: #ffffff;
}
.navbar-beaver .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-beaver .navbar-nav > li > a:hover,
.navbar-beaver .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #3784c6;
}
.navbar-beaver .navbar-nav > .active > a,
.navbar-beaver .navbar-nav > .active > a:hover,
.navbar-beaver .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #3784c6;
}
.navbar-beaver .navbar-nav > .open > a,
.navbar-beaver .navbar-nav > .open > a:hover,
.navbar-beaver .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #3784c6;
}
.navbar-beaver .navbar-toggle {
	border-color: #3784c6;
}
.navbar-beaver .navbar-toggle:hover,
.navbar-beaver .navbar-toggle:focus {
	background-color: #3784c6;
}
.navbar-beaver .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-beaver .navbar-collapse,
.navbar-beaver .navbar-form {
	border-color: #ffffff;
}
.navbar-beaver .navbar-link {
	color: #ffffff;
}
.navbar-beaver .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
  	.navbar-beaver .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
  	}
  	.navbar-beaver .navbar-nav .open .dropdown-menu > li > a:hover,
 	.navbar-beaver .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
  	}
  	.navbar-beaver .navbar-nav .open .dropdown-menu > .active > a,
  	.navbar-beaver .navbar-nav .open .dropdown-menu > .active > a:hover,
  	.navbar-beaver .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #3784c6;
  	}
}

.navbar-fixed-left {
 	width: 250px;
  	position: fixed;
  	border-radius: 0;
  	border: 0;
 	height: 100%;
  	z-index: 99999;
}

.navbar-fixed-left .navbar-nav > li {
  	float: none;  /* Cancel default li float: left */
  	width: 250px;
}

.navbar-fixed-left + .container {
  	padding-left: 250px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	border-radius: 0;
	border: 0;
  	width: 250px;
}

.navbar-fixed-bottom {
	width: 250px !important;
}

.container {
 	width: calc(100% - 250px);
  	margin-left: 250px;
  	padding: 0;
}

sidebar {
	display: block;
	font-size: 12px;
	padding: 5px 5px 75px 5px;
	clear: both;
}

footer {
	padding: 10px;
	clear: both;
}

/**
 * Beaver Styles
 */
sidebar > h2, sidebar > h3, sidebar > h4 {
	color: #fff;
}

sidebar > .table {
	color: #fff;
}

sidebar > .well > .table > tbody > tr:first-child > td {
    border: none;
}

sidebar > .table > tbody > tr:first-child > td {
    border: none;
}

.img-circle {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #fff;
}

.img-block {
	background-color: #fff;
	border: 2px solid #fff;
}

.tbl_white {
	background-color: white;
}

.i-2x{font-size: 2em;}
.i-3x{font-size: 3em;}
.i-4x{font-size: 4em;}
.i-5x{font-size: 5em;}
.i-6x{font-size: 6em;}

/**
 * Bootstrap changes
 */
content .panel {
	border: 0;
	border-radius: 0;
}

content .panel-heading {
	border: 0;
	border-radius: 0;
}

content .panel-body {
	padding: 0;
}

content .alert {
	border-radius: 0;
	margin: 0;
}

.btn {
	border: 1;
	border-radius: 0;
}

sidebar .dropdown-menu {
	border: 1;
	border-radius: 0;
	width: 100%;
}

.label {
	border: 1;
	border-radius: 0;
}

.badge {
	border: 1;
	border-radius: 0;
}

.alert {
	border: 1;
	border-radius: 0;
}

.progress {
	border: 1;
	border-radius: 0;
	margin: 5px 0 5px 0;
}

.well {
	background-color: #fff;
	border: 1;
	border-radius: 0;
	margin-top: 5px;
	padding: 0;
}

.search .dropdown-menu {
	width: 350px;
}

.progress-bar-default {
	background-color: #999999 !important;
}

/** nav bar search box - drop down menu button */
.navbar .navbar-search .dropdown-menu { 
	min-width: 25px;
}

.dropdown-menu .label-icon {
	margin-left: 5px;
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #e9f6e9;
	/*background-color: #f2f2f2;*/
}

.label-sm {
	font-size: 12px !important;
}

.label-md {
	font-size: 14px !important;
}

.label-lg {
	font-size: 16px !important;
}

/**
 * openlayers/geocoder
 */
.map {
	height: 450px;
	display: block;
}
.map_small {
	height: 125px;
	padding: 5px 0 5px 0;
}
.info_box {
	position: relative;
	z-index: 1000;
	margin: -35px 5px 15px 5px;
	font-size: 16px;
	display: block
}
#info_popup {
	width: 500px;
}

/**
 * @media
 */
 /**
 @media screen and (max-width: 1200px) {
	.logo {
		width: 125px;
		height: 55px;
		background: url("img/logo_white_75px.png") no-repeat center;
	}
	
	.navbar-fixed-left {
		width: 150px !important;
	}
	.navbar-fixed-bottom {
		width: 150px !important;
	}
	
	.container {
	 	width: calc(100% - 150px);
	  	margin-left: 150px;
	}
	
	.map {
		height: 200px;
	}
	.map .info_box {
		margin: 170px 0 0 5px;
	}
	
	.modal {
		margin-right: 15px;
	  	position: fixed;
	  	left: auto; /* <-- Reset the default left value */
	}	
}
*/


/* OLD */
content .panel-body {
	padding: 0 0 15px 0 !important;
}
.panel-heading .chevron:after {
	font-family: "FontAwesome";
	content: "\f054";
}
.panel-heading.collapsed .chevron:after {
    content: "\f078"; 
}
.list-group-item {
	min-height: 42px;
}

	/** own bootstrap classes for icon size */
	
	
	.status {
		margin-top: 5px;
		padding: 1px;
	}